@model WebApplication.Models.LiquidacionViewModel
@{
    ViewBag.Title = "_Attachment";
}

@foreach (var item in Model.Liquidacion.ListaAdjunto ?? new List<Data.Common.Adjunto>())
{
    <div class="input-group file-caption-main" style="margin-top:-1px">
        <div class="form-control input-sm file-caption kv-fileinput-caption" style="height:30px;">
            <div class="file-caption-name tooltip-file" data-original-title="@item.NombreAdjunto">
                <i class="glyphicon glyphicon-file kv-caption-icon"></i>
                @if (item.IdAdjunto == default(int))
                {
                    @item.NombreAdjunto
                }
                else
                {
                    <a style="text-decoration: underline;" href="@Url.Action("Download", "Adjunto", new { idAdjunto = @item.IdAdjunto })"> @item.NombreAdjunto </a>
                }
            </div>
        </div>
        <span index="@item.NombreAdjunto" class="input-group-addon remove-item-adjunto btn-danger btn-sm tooltip-file" data-original-title="Remover" style="width: 5px;font-size: inherit;"><i class="glyphicon glyphicon-trash"></i></span>
    </div>
}
