@model WebApplication.Models.SolicitudViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="myModalLabel">
        <i class="fa fa-list"></i>
        <i class="fa fa-chevron-right"></i>
        HISTORIAL
    </h3>
</div>

<div class="modal-body">
    @if (Model.ListaSolicitudDetalle.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-bordered table-condensed ">
                <thead style="font-size: 11px;">
                    <tr>
                        <th>N°</th>
                        <th width="450px;">Estado</th>
                        <th width="600px;">Usuario Registro</th>
                        <th width="350px;">Fecha Registro</th>
                        <th width="350px;">Conductor/Documento</th>
                        <th width="350px;">Automovil</th>
                    </tr>
                </thead>
                <tbody style="font-size: 11px;">
                    @{ int count = 0;}
                    @foreach (var detalleSolicitud in Model.ListaSolicitudDetalle)
            {
                count += 1;
                <tr>

                    <td style="width:1%" class="text-center">@count</td>
                    <td>@detalleSolicitud.Estado</td>
                    <td>@detalleSolicitud.UsuarioRegistro</td>
                    <td>@detalleSolicitud.FechaRegistroStr</td>
                    <td>@detalleSolicitud.NombreConductor @detalleSolicitud.DocumentoConductor</td>
                    <td>@detalleSolicitud.ModeloAutomovil @detalleSolicitud.PlacaAutomovil</td>
                </tr>
    }
                </tbody>
            </table>
        </div>
       
    }
    else
    {
        <div class="alert alert-info">
            <p>NO EXISTEN REGISTROS.</p>
        </div>
    }

</div>
<div class="modal-footer">
    <div style="float: right">
        <button class="btn btn-default btn-sm" data-dismiss="modal"><i class="fa fa-share-square-o"></i> Salir</button>
    </div>
</div>


