@model WebApplication.Areas.GASTO.Models.ViewModelMaestros
    @if (Model.ListaUsuariosSucursal.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-gys-kom" role="grid">
                <thead>
                    <tr>
                        <th width="50px;">Acciones</th>
                        @*<th width="40px;">ID</th>*@
                        <th width="100px;">Sociedad</th>
                        <th width="100px;">Cod.Local</th>
                        <th width="100px;">Sucursal</th>
                        <th width="120px;">Administrador</th>
                    </tr>
                </thead>
                <tbody style="font-size: 11px;">
                    @foreach (var detalle in Model.ListaUsuariosSucursal)
                    {
                    <tr>
                        <td>
                            <a href="javascript(0);" id="btn-edit-tabla10" data-pid-10=@detalle.ID class="glyphicon glyphicon-pencil" title="Editar"></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript(0);" id="btn-del-tabla10" data-pid-10=@detalle.ID class="glyphicon glyphicon-trash" title="Eliminar"></a>
                        </td>
                        @*<td>@detalle.ID</td>*@
                        <td>@detalle.Sociedad</td>
                        <td>@detalle.CodigoLocal</td>
                        <td>@detalle.Sucursal</td>
                        <td>@detalle.Administrador</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

    }
    else
    {
        <div class="alert alert-info">
            <p>NO EXISTEN REGISTROS.</p>
        </div>
    }
<script>
    $(document).ready(function () {
        
    });

    

    

</script>




