@model WebApplication.Models.SolicitudViewModel

<style>
    #tbl-sol-det tr td:first-child {
        background-color: #EEEEEE;
    }
</style>

<div class="modal-header">
    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
    <h3 class="modal-title" id="myModalLabel">
        <i class="fa fa-star"></i>
        <i class="fa fa-chevron-right"></i>
        CALIFICACIÓN DEL ÚLTIMO SERVICIO
    </h3>
</div>
<div class="modal-body">
    <input type="hidden" id="idSolicitud" value="@Model.Solicitud.ID" />
    <table id="tbl-sol-det" class="table table-bordered table-condensed table-hover">
        <tbody>
            <tr>
                <td>Fecha Servicio</td>
                <td>@Model.Solicitud.FechaServicioStr</td>
            </tr>
            <tr>
                <td>Hora Servicio</td>
                <td>@Model.Solicitud.HoraServicio</td>
            </tr>
            <tr>
                <td>Proveedor</td>
                <td>@Model.Solicitud.ProveedorTaxi.RazonSocial</td>
            </tr>
            <tr>
                <td>Nombre Conductor</td>
                <td>@Model.Solicitud.Conductor.NombreCompleto</td>
            </tr>
            <tr>
                <td>Origen</td>
                <td>@Model.Solicitud.DireccionOrigen</td>
            </tr>
            <tr>
                <td>Destino</td>
                <td>@Model.Solicitud.DireccionDestino</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="control-label">Comentarios:</label>
                    </div>
                    <div class="col-sm-12">
                        <textarea id="txtComentario" rows="3" class="form-control input-sm" placeholder="Comentarios"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="control-label">Calificación:</label>
                        <div id="stars" class="starrr text-center" style="color:#fff205; font-size: 30px;" disabled></div>
                        @*<p style="font-size: 15px;" >Tu calificación es de <span id="count">0</span> estrella(s)</p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var urlCal = {
        ModificarCalificacion: '@Url.Action("ModificarCalificacion", "Solicitud")'
    };
    $(document).ready(function () {
        $('#stars').on('starrr:change', function (e, value) {
            $.ajax({
                url: urlCal.ModificarCalificacion,
                data: { idSolicitud: $("#idSolicitud").val(), calificacion: value, comentario: $("#txtComentario").val() },
                type: 'POST',
                async: false,
                cache: false,
                success: function (data) {
                    if (data.Success) {
                        $('#modal-calificacion').modal('hide');
                        toastr["success"]('Gracias por su calificación');
                    } else {
                        $('#modal-calificacion').modal('hide');
                        toastr["success"](data.Message);
                    }
                },
                error: function (request, status, error) {
                    //console.log(request);
                    toastr["error"]('Ocurrio un error en el servicio');
                    fn_DesbloquearPantalla();
                }
            });
        });

        $('#stars-existing').on('starrr:change', function (e, value) {
            $('#count-existing').html(value);
        });
    });
</script>
<script src="~/Content/plugins/starrr/starrr.js"></script>
