@model WebApplication.Models.SolicitudViewModel
<style>
    #map-tracking-canvas {
        width: 100%;
        height: 50vh;
    }
</style>

@{
    string key = ViewBag.Key;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">
        <i class="fa fa-map-marker"></i>
        <i class="fa fa-chevron-right"></i>
        TRACKING
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <input type="hidden" id="idServicio" value="@Model.Solicitud.IdServicioProveedor" />
        <input type="hidden" id="idEstadoServicio" value="@Model.Solicitud.IdEstadoServicioProveedor" />

        <input type="hidden" id="OrigenServicio" value="@Model.Solicitud.DireccionOrigen" />
        <input type="hidden" id="DestinoServicio" value="@Model.Solicitud.DireccionDestino" />
        <div id="map-tracking-canvas"></div>
    </div>
</div>
<div class="modal-footer">
    <div style="float: right">
        <button class="btn btn-default btn-sm" data-dismiss="modal"><i class="fa fa-share-square-o"></i> Salir</button>
    </div>
</div>
<script>
    var urlTracking = {
        GetTracking: '@Url.Action("GetTracking", "Solicitud")'
    }
</script>
<script>
    var _waypoints = [];
    var _lat_default = -12.0480505;
    var _lng_default = -77.10029129999998;

    $(document).ready(function () {

        $.ajax({
            url: urlTracking.GetTracking,
            data: { idServicio: $("#idServicio").val(), idEstadoServicio: $("#idEstadoServicio").val() },
            type: 'POST',
            async: false,
            success: function (data) {
                //console.log(data);
                _waypoints = data;
            },
            error: function (request, status, error) {
                //console.log(request);
                toastr["error"]('Ocurrio un error en el servicio');
                fn_DesbloquearPantalla();
            }
        });

        var interval = setInterval(function () {
            ObtenerTracking($("#idServicio").val(), $("#idEstadoServicio").val());
        }, 11000);

        $('[data-dismiss="modal"]').click(function () {
            clearInterval(interval);
        });

    });

    function initMap() {

        var myLatLng = { lat: _waypoints[0].Latitud, lng: _waypoints[0].Longitud };

        var map = new google.maps.Map(document.getElementById('map-tracking-canvas'), {
            center: myLatLng,
            zoom: 16,
            mapTypeId: 'terrain'
        });

        var flightPlanCoordinates = [];

        for (var i = 0; i < _waypoints.length; i++) {
            flightPlanCoordinates.push({
                lat: _waypoints[i].Latitud,
                lng: _waypoints[i].Longitud
            });
        }

        var flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });

        flightPath.setMap(map);

    }

    function ObtenerTracking(idServicio, idEstadoServicio) {
        $.ajax({
            url: urlTracking.GetTracking,
            data: { idServicio: idServicio, idEstadoServicio: idEstadoServicio },
            type: 'POST',
            async: false,
            success: function (data) {
                //console.log(data);
                _waypoints = data;
            },
            error: function (request, status, error) {
                //console.log(request);
                toastr["error"]('Ocurrio un error en el servicio');
                fn_DesbloquearPantalla();
            }
        });

        initMap();
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=@key&callback=initMap&libraries=places"></script>

