@model WebApplication.Models.SolicitudViewModel

<style>
    #tbl-sol-list > tbody > tr > td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
    }

    .datepicker {
        z-index: 200 !important;
    }

    /*ul > .select2-results__option, .select2-selection__rendered { text-transform: uppercase !important; }*/
</style>

<h3 class="text-left text-primary">
    <i class="fa fa fa-table" style="color: #ee3224;"></i>
    <i class="fa fa-chevron-right" style="color: #ee3224;"></i> MIS SOLICITUDES
</h3>
<br />
<div class="row">
    <div id="filtros">
        <div class="col-sm-4">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-4">Código:</label>
                    <div class="col-sm-8">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <input type="checkbox" id="chkSolicitud" />
                            </span>
                            <input type="text" id="txtSolicitud" class="form-control input-sm filtro" required="required" />
                            @*<span id="btn-show-modal-search-personal" class="input-group-addon btn btn-default" style="border:1px solid #CCCCCC">
                        <i class="fa fa-search"></i>
                    </span>*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Situación de Serv.:</label>
                    <div class="col-sm-8">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <input type="checkbox" id="chkSituacion" />
                            </span>
                            <select id="ddlSituacion" name="ListaSituacion" class="form-control filtro select2">
                                <option value="">-SELECCIONE-</option>
                                <option value="1">Registrado</option>
                                <option value="2">Aprobado</option>
                                <option value="3">Cancelado</option>
                                <option value="4">Rechazado</option>
                                <option value="5">Finalizado</option>
                                <option value="6">Facturado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Sociedad:</label>
                    <div class="col-sm-8">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <input type="checkbox" id="chkCompania" />
                            </span>
                            @Html.DropDownList("ListaSociedad", new SelectList(Model.ListaSociedad, "ID", "NombreFI"), "-SELECCIONE-", new { @class = "form-control filtro select2", @id = "ddlCompania" })

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-4">Fecha R. Desde:</label>
                    <div class="col-sm-8">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <input type="checkbox" id="chkFechaDesde" />
                            </span>
                            <div id="FechaDesdeDatePicker" style="width: 100%;" class="input-group input-group-sm date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                <input id="txtFechaDesde" class="form-control filtro" />
                                <div class="input-group-addon close-button">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Fecha R. Hasta:</label>
                    <div class="col-sm-8">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <input type="checkbox" id="chkFechaHasta" />
                            </span>
                            <div id="FechaHastaDatePicker" style="width: 100%;" class="input-group input-group-sm date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                <input id="txtFechaHasta" class="form-control filtro" />
                                <div class="input-group-addon close-button">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Centro Costo:</label>
                    <div class="col-sm-8">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <input type="checkbox" id="chkCentroCosto" />
                            </span>
                            @Html.DropDownList("ListaCentroCosto", new SelectList(Model.ListaCentroCosto, "Codigo", "Descripcion"), "-SELECCIONE-", new { @class = "form-control filtro select2", @id = "ddlCentroCosto" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <a href="@Url.Action("Registrar", "Solicitud")" class="btn btn-primary btn-sm page-url"><i class="fa fa-plus-circle"></i> Nuevo</a>
            <br /><br />
            <button class="btn btn-danger btn-sm" id="btnBuscarSolicitud"><i class="fa fa-search"></i> Buscar</button>
        </div>
    </div>
</div>
<hr />
@if (ViewBag.Updated != null)
{
    <div class="alert alert-success" id="alert-Update-Result">
        <i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;Se registró correctamente.
    </div>
}
<div class="row">
    <div class="col-sm-12">
        <div id="div-tbl-centro">
            <table id="jqGrid" class="table-gys-kom"></table>
            <div id="jqControls"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-sol-detalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>


<div class="modal fade" id="modal-tracking" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="modal-ubicacion" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="modal-cancelar" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<link href="~/Content/plugins/jqGrid/css/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/plugins/jqGrid/css/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Content/plugins/jqGrid/js/grid.locale-en.js"></script>
<script src="~/Content/plugins/jqGrid/js/jquery.jqGrid.min.js"></script>
<script src="~/Content/plugins/starrr/starrr.js"></script>

<script>
     var url = {
         GetListSolicitud: '@Url.Action("GetListSolicitud", "Paginado")',
         Tracking: '@Url.Action("Tracking", "Solicitud")',
         VisualizarDetalle: '@Url.Action("VisualizarDetalle", "Solicitud")',
         GetSolicitudDetalle: '@Url.Action("GetSolicitudDetalle", "Solicitud")',
         GetGastoAdicional: '@Url.Action("GetGastoAdicional", "Solicitud")',
         Ubicacion: '@Url.Action("Ubicacion", "Solicitud")',
         CancelarSolicitud: '@Url.Action("CancelarServicio", "Solicitud")',
         AnularPost: '@Url.Action("AnularServicioPost", "Solicitud")'
     }
    $(document).ready(function () {
        $('#FechaDesdeDatePicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });

        $('#FechaHastaDatePicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });

        $('.close-button').unbind();

        $('.close-button').click(function () {
            if ($('.datepicker').is(":visible")) {
                $(this).parent().datepicker('hide');
            } else {
                $(this).parent().datepicker('show');
            }
        });

        setTimeout(function () {
            $("#alert-Update-Result").attr("style", "display:none");
        }, 5000)
    });
</script>

<script src="~/Scripts/Solicitud/Index.js?version=1.2"></script>
<script src="~/Content/plugins/starrr/starrr.js"></script>